@import "tailwindcss";


.otp-input:focus {
  border-color: #40E0D0 !important; /* Change to #40E0D0 when focused */
}

.otp-input:valid {
  border-color: #40E0D0 !important; /* Change to #40E0D0 when the input has a value */
}


.bg-primary {
  background-color: #40E0D0;
}
.bg-secondary {
  background-color: #f95f19;
}

@utility container {
  margin-inline: auto;
  max-width: 100%;
  padding-inline: 1rem;
  
  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
  @media (min-width: 1920px) {
    max-width: 1920px;
    padding-inline: 9rem; /* 160px (10rem assuming 1rem = 16px) */
  }
}

/* Add this to your global CSS or component-specific CSS */
.emoji-picker ::-webkit-scrollbar {
  width: 8px;
}

.emoji-picker ::-webkit-scrollbar-track {
  background: #ffffff; /* White track */
}

.emoji-picker ::-webkit-scrollbar-thumb {
  background: #888; /* Gray thumb */
  border-radius: 4px;
}

.emoji-picker ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white rounded-full border-2 border-transparent;
    background-clip: padding-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-200;
  }
}